<table class="table">
  <thead>
    <tr>
      <th scope="col">Path</th>
      <th scope="col">Size</th>
      <th scope="col">Last modified</th>
    </tr>
  </thead>
  <tbody>
    {% for std in list_contents %}
    {% set file = std.content %}
    <tr class="{% if std.isOld %}table-danger{% else %}table-success{% endif %}">
      <td>{{ file.path }}</td>
      <td>{{ file.fileSize / 1000000 }} / Mo</td>
      <td>
        <time datetime="{{ file.lastModified|date('c') }}">
            {{ file.lastModified|date('d/m/Y H:i:s') }}
        </time>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="3">No files found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
