<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">DateTime</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    <tbody>
        {% for incident in incidents %}
            <tr>
                <td>
                    <span class="badge bg-{{ incident.status == 'Up' ? 'success' : 'danger' }}">
                        {{ incident.status }}
                    </span>
                </td>
                <td>{{ incident.createdAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ incident.message }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
