<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>DateTime</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for incident in incidents %}
            <tr>
                <td>
                    <span style="background-color: {{ incident.status == 'Up' ? '#ccffcc' : '#ffcccc' }}; padding: 5px; border-radius: 5px;"
                    >
                        {{ incident.status }}
                    </span>
                </td>
                <td>{{ incident.createdAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ incident.message }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
